#header{
    height: 100px;
    width: 100%;
    background-color: darkorchid;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 2rem;
}

#main{
    height: 350px;
    width: 100%;
}

#choice{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{  
     border: 4px solid black;
}

.element{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    top: 30px;
    border-radius: 50%;
 
}

#Stone{
    background-image: url(Image/R.jpeg);
    background-size: cover;
}

#Paper{
    background-image: url(Image/p.jpeg);
    background-size: cover;
}

#Scissors{
    background-image: url(Image/S.jpeg);
    background-size: cover;
}

#scorebord{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#u{
   font-size: 50px;
}
#c{
    font-size: 50px;
}

#u-{
   font-size: 30px;
}
#c-{
    font-size: 30px;
}

#meg {
    position: absolute;
    bottom: 50px;
    left: 35%;
    font-size: 50px;
    height: 100px;
    background: yellow;
    text-align: center;
    border-radius: 10px;
}


/* moblie */
@media (max-width:480px) {
    .border{
    border: 1.5px solid transparent;
}
.border:hover{  
     border: 2px solid black;
}

    .element{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    top: 30px;
    border-radius: 50%;
 
}

#meg {
    position: absolute;
    bottom: 50px;
    left: 35%;
    font-size: 30px;
    height: 100px;
    background: yellow;
    text-align: center;
    border-radius: 10px;
}


#title{
    font-size: 1rem;
}

#scorebord {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        bottom: 150px;
    }
}